<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-grid.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="container">
  <div class="row">
    

    <div class="col-12">
    <p class="lead text-center d-block m-auto ">Vanilla JS Filter Table</p>
    </div>
    
    
    
    <input type="text" placeholder="" id="search" class="form-control mt-4 mb-2   w-75  d-inline">
    <select title="search by" class="form-control mt-4 mb-2  w-25 d-inline" name="exampleSelect1" id="exampleSelect1">
      

    </select>
    
    

    
<table  class="table table-hover">
  <thead>
    <tr>
      <th scope="col" target="id">ID <i title="sort " class="fa fa-arrow-down toggleSort" toggle="false"></i></th>
      <th scope="col" target="name">First Name <i title="sort " class="fa fa-arrow-down toggleSort" toggle="false"></i></i></th>
      <th scope="col" target="job">Job <i title="sort " class="fa fa-arrow-down toggleSort" toggle="false"></i></th>
      <th scope="col" target="age">Age <i title="sort " class="fa fa-arrow-down toggleSort" toggle="false"></i></th>
    </tr>
  </thead>
  <tbody id="results">
   
  </tbody>
  
</table>
  </div>
</div>
